<div style="padding-left: 18%">
    <h3>Клиенты</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Имя</td>
                <td>Фамилия</td>
                <td>Дата рождения</td>
                <td>Номер водительского удостоверения</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user?.name}}</td>
                <td>{{user?.lastName}}</td>
                <td>{{user?.dateBirthday| date}}</td>
                <td>{{user?.numberLicense}}</td>
            </tr>
        </tbody>
    </table>
</div>
