<h1>Заказы</h1>
<div style="padding-left: 18%">
    <input type="button" value="Добавить" class="btn btn-success" (click)="add()" />
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Описание</td>
                <td>Дата начала периода</td>
                <td>Дата окончания периода</td>
            </tr>
        </thead>
        <!--<tbody>
            <tr *ngFor="let order of orders">
                <td>{{order.description?}}</td>
                <td>{{order.startDate | date}}</td>
                <td>{{order.endDate| date}}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="edit(order)">Изменить</button>
                    <button class="btn btn-sm btn-danger" (click)="delete(order)">Удалить</button>
                </td>
            </tr>
        </tbody>-->
    </table>
</div>
