<div *ngIf="status;else unset">
    <h3>Заказы</h3>
    <div>
        <input type="button" value="Добавить" class="btn btn-success" (click)="add()" />
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Автомобиль</td>
                    <td>Статус</td>
                    <td>Дата начала</td>
                    <td>Дата окончания</td>
                    <td>Пользователь</td>
                    <td>Описание</td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field style="width: 129px !important;">
                            <input matInput placeholder="фильтр по авто" [(ngModel)]="filter.avto" [ngModelOptions]="{standalone: true}" (keyup)="filterForm()">
                        </mat-form-field>
                    </td>
                    <td></td>
                    <td>
                        <mat-form-field style="width: 129px !important;">
                            <input matInput [matDatepicker]="picker3" placeholder="Ф-р дата нач."
                                   [(ngModel)]="filter.startDate" [ngModelOptions]="{standalone: true}" (dateChange)="filterForm()">
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders">
                    <td>{{order.car}}</td>
                    <td>{{order.rent ? 'занято' : 'свободно'}}</td>
                    <td>{{order.startDate| date:'dd.MM.yyyy'}}</td>
                    <td>{{order.endDate| date:'dd.MM.yyyy'}}</td>
                    <td>{{order.user}}</td>
                    <td>{{order.description}}</td>
                    <td>
                        <button class="btn btn-sm btn-primary" (click)="edit(order)">Изменить</button>
                        <button class="btn btn-sm btn-danger" (click)="delete(order)">Удалить</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #unset>
    <div>
        <h3>{{title}}</h3>
        <div align="center" style="width: 100%">
            <div align="left" style="width: 50%">
                <form method="get" name="addEditForm">
                    <div>
                        <mat-checkbox [(ngModel)]="orderObj.rent" [ngModelOptions]="{standalone: true}">Арендовано</mat-checkbox>
                    </div>
                    <div>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="Дата начала" [(ngModel)]="orderObj.startDate" [ngModelOptions]="{standalone: true}">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker2" placeholder="Дата окончания" [(ngModel)]="orderObj.endDate" [ngModelOptions]="{standalone: true}">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Автомобили</mat-label>
                            <select matNativeControl required [(ngModel)]="orderObj.carId" [ngModelOptions]="{standalone: true}">
                                <option label="-- выберите авто --"></option>
                                <option *ngFor="let car of allCars" [value]="car.id">{{car.mark}} {{car.model}}</option>
                            </select>
                        </mat-form-field>

                    </div>
                    <div>
                        <mat-form-field>
                            <mat-label>Пользователи</mat-label>
                            <select matNativeControl required [(ngModel)]="orderObj.userId" [ngModelOptions]="{standalone: true}">
                                <option label="-- выберите пользователя --"></option>
                                <option *ngFor="let user of allUsers" [value]="user.id">{{user.name}} {{user.lastName}}</option>
                            </select>
                        </mat-form-field>

                    </div>
                    <div>
                        <mat-form-field class="example-full-width">
                            <textarea matInput placeholder="Примечание" [(ngModel)]="orderObj.description" [ngModelOptions]="{standalone: true}"></textarea>
                        </mat-form-field>
                    </div>
                    <button mat-button mat-raised-button color="primary" (click)="addNewOrder(orderObj)">Добавить</button>
                    <button mat-button mat-raised-button color="warn" (click)="cancel()">Отмена</button>
                </form>
            </div>
        </div>
    </div>
</ng-template>
